:root {
    --txtw1: 0;
    --txtw2: 0;
}
@keyframes start1 {
    from {width: 100%;}
    to {width: var(--txtw1);}
}
@keyframes start2 {
    from {width: 100%;}
    to {width: var(--txtw2);}
}
@keyframes start3 {
    from {width: 100%;}
    to {width: 50%;}
}
@keyframes start4 {
    from {transform: translateY(100%);}
    to {transform: translateY(0%);}
}
@keyframes start5 {
    from {width: 0;}
    to {width: 30px;}
}
@keyframes start6 {
    from {clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);}
    to {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
}
@keyframes start7 {
    from {transform: translateY(30px); opacity: 0;}
    to {transform: translateY(0%); opacity: 1;}
}
@keyframes start8 {
    from {transform: translateY(0%);}
    to {transform: translateY(-100%);}
}
@keyframes start8r {
    from {transform: translateY(-100%);}
    to {transform: translateY(0%);}
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
.fleft {
    width: 50%;
    position: fixed;
    z-index: 2;
    padding: 0 0 0 30px;
    overflow: hidden;
}
.fleft div {
    display: flex;
    align-items: center;
    column-gap: 100px;
    animation-name: none;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-delay: 0s;
    transform: translateY(100%);
}
.fleft h2 {
    font-size: 1.5rem;
}
.fleft p {
    font-size: 1rem;
    font-weight: 600;
}
.over {
    width: 50%;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 0;
    height: 100vh;
    padding: 0 30px 41vh 100px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    overflow: hidden;
    z-index: 5;
}
nav > * {
    animation-name: start4;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}
.link {
    display: flex;
    column-gap: 10px;
}
nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
nav a:hover {
    color: #ee8383;
}
.hi {
    text-decoration: underline;
    text-decoration-thickness: 100;
}
.hi:hover {
    text-decoration-color: #ee8383;
}
header {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
}
.headpic {
    width: 50%;
    height: 100vh;
    /* background-color: rgb(238, 131, 131); */
    background-image: url(./bg1.jpg);
    background-position: left;
    background-size: cover;
}
.headtxt {
    width: 50%;
    height: 100vh;
    background-color: #fff;
}
.headtxt > div {
    height: 34%;
    position: absolute;
    background-color: white;
    right: 0;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}
.headtxt div h1 {
    font-size: 41vh;
    line-height: 34vh;
    text-wrap: nowrap;
}
.headtxt div h1 p {
    animation-name: start4;
    animation-duration: 0.8s;
    animation-fill-mode: both;
}
#swipe1 {
    animation-name: start3;
    animation-delay: 1.3s;
}
#swipe2 {
    top: 50%;
    transform: translateY(-50%);
    animation-name: start2;
    animation-delay: 1.4s;
}
.over #an {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.over #an div {
    overflow: hidden;
}
.over p {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.2;
    animation-name: start4;
    animation-duration: 0.3s;
    animation-delay: 0.5;
    animation-fill-mode: both;
}
#an1 {
    animation-delay: 0.5s;
}
#an2 {
    animation-delay: 0.55s;
}
#an3 {
    animation-delay: 0.6s;
}
#an4 {
    animation-delay: 0.65s;
}
#swipe3 {
    width: auto;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: end;
    animation-name: start1;
    animation-delay: 1.5s;
}
#pnktxt {
    display: flex;
}
#p1 {
    animation-delay: 1.2s;
}
#p2 {
    animation-delay: 1.3s;
}
#p3 {
    animation-delay: 1.4s;
}
#p4 {
    animation-delay: 1.5s;
}
#p5 {
    animation-delay: 1.6s;
}
#p6 {
    animation-delay: 1.7s;
}
#p7 {
    animation-delay: 1.8s;
}
.mid {
    display: flex;
    column-gap: 80px;
}
.mid div {
    overflow: hidden;
}
.mid div p {
    font-size: 1rem;
    font-weight: 400;
    animation-delay: 1.5s;
}
.logo {
    width: 30px;
    aspect-ratio: 1;
    background-color: #ee8383;
    border-radius: 100%;
    margin: 65px;
    animation-name: start5;
    animation-duration: 0.2s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}
#bd1 {
    width: 100%;
    min-height: 100vh;
    top: 100vh;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    padding: 30px;
}
#bd1 p {
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 600;
}
#img1 {
    width: 17vw;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0;
}
div.line {
    opacity: 0;
}
.txt2 {
    display: flex;
    align-items: center;
    height: calc(100vh - 50px);
    padding-top: 70px;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0;
    opacity: 0;
}
.txt2 a {
    color: #000;
}
#bd1 .txt2 p {
    font-size: 1rem;
    height: fit-content;
    width: 40%;
    margin-bottom: 100px;
}
#bd2 {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 100vh;
    display: flex;
}
#img2p, #txt2p {
    width: 50%;
    height: 100%;
}
#img2p {
    background-color: #ee8383;
    background-image: url(p1.jpg);
    background-position: top;
    background-size: cover;
}
#txt2p {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
#txt2p .tit {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: space-between;
}
#txt2p h1 {
    line-height: 1;
    font-size: 4rem;
    font-weight: 600;
}
.prd1 .thb1 {
    width: 60%;
    height: 200px;
    background-color: #ee8383;
    background-image: url(p1a.jpg);
    background-position: center;
    background-size: cover;
}
.prd1 .thb2 {
    width: 100%;
    height: 100%;
    background-color: #ba1515;
    background-image: url(p2a.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.prd1 h2 {
    line-height: 1;
    font-size: 1.4rem;
}
#img2p2 {
    width: 100%;
    height: 100%;
    background-image: url(p2.jpg);
    background-position: center;
    background-size: cover;
    background-color: #652f2f;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.panimp {
    overflow: hidden;
}
.panim1, .panim2, .panim3 {
    height: calc(4rem + 10px);
}
.panim4, .panim5 {
    height: calc(1.4rem + 13px);
}
.panim5 {
    margin-bottom: 10px;
}
.panimp h1, .panimp h2 {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0;
}
.panimp h1 {
    padding: 10px 0;
}
.panimp h2 {
    padding: 10px 0;
}
#bd3 {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 100vh;
}
#bd3 .aft, #bd3 .aaft2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
#bd3 .aft .ttxtt {
    width: 50%;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#bd3 .aft .ttxtt a, #bd3 .aaft2 .ttxtt2 a {
    font-weight: 600;
    text-decoration: underline;
}
#bd3 .aft .iimgg .img, .aaft2 .picdi #piccrop {
    height: 35vh;
    aspect-ratio: 1.7;
    background-color: #ba1515;
}
#bd3 .aft .iimgg .img {
    background-image: url(ceo.jpg);
    background-position: center;
    background-size: cover;
}
.aaft2 .picdi #piccrop {
    background-image: url(bs.jpg);
    background-position: center;
    background-size: cover;
}
#bd3 .aft .iimgg p, #bd3 .aaft2 .picdi p {
    width: calc(35vh * 1.7);
    line-height: 1;
    margin-top: 10px;
    font-weight: 600;
}
#spl2a, #imgalt, #spl3a, #picdesc {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0;
    opacity: 0;
}
#img2a, #piccrop {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.3s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
#bigth1 {
    text-align: center;
    line-height: 0.8;
    font-size: 20vh;
    font-weight: 900;
    margin: 100px 0;
}
.aaft2 .picdi #piccrop {
    background-color: #e77b7b;
}
#bd3 .aaft2 .ttxtt2 {
    width: 60%;
    line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: calc(100vh + 2px);
    padding: 40px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 100vh;
}
footer > div {
    width: 100%;
}
.f1 {
    display: flex;
    justify-content: space-between;
}
.f1a, .f1b {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}
.f1ahead h1 {
    font-size: 10vw;
    line-height: 1;
    font-weight: 800;
}
.f1bhead {
    height: 10vw;
}
.f1bhead p {
    font-size: 3.5vw;
    line-height: 1;
    margin-top: 10px;
    font-weight: 500;
}
.f1bhead a {
    color: #000;
}
.f1afoot {
    display: flex;
    justify-content: space-between;
}
.f1afoot > div span, .f1bfoot span {
    font-weight: 600;
    padding-bottom: 30px;
}
.f1afoot > div p , .f1bfoot p {
    display: flex;
    flex-direction: column;
}
.f1afoot > div a, .f1bfoot a {
    font-size: 3rem;
    line-height: 1;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}
.f2 {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0;
    opacity: 0;
}
#totop {
    cursor: pointer;
}
.phnhead {
    display: none;
}
@media (max-width: 800px) {
    nav > * {
        animation-delay: 0s;
    }
    .headtxt > div{
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 30px 20px;
        justify-content: space-between;
    }
    .phnexp {
        font-size: 1.8rem;
        line-height: 1;
        font-weight: 600;
    }
    .phnbtm {
        display: flex;
        justify-content: space-between;
            animation-name: start7;
            animation-duration: 0.4s;
            animation-fill-mode: both;
            animation-delay: 0.6s;
    }
    .phnbtm p {
        line-height: 1.3;
        font-weight: 600;
    }
    .headpic {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .phnslide {
        width: 100%;
        height: 34%;
        background-color: #fff;
        animation-name: start1;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-delay: 0s;
        border: 1px solid #fff;
    }
    .psp2 {
        animation-delay: 0.1s;
    }
    .psp3 {
        animation-delay: 0.2s;
    }
    .fleft {
        display: none;
    }
    header, .aft {
        flex-direction: column-reverse;
    }
    .over {
        display: none;
    }
    .headtxt {
        width: 100%;
        height: 50vh;
        padding: 0;
    }
    .headpic {
        width: 100%;
        height: 50vh;
    }
    #swipe1, #swipe2, #swipe3 {
        display: none;
    }
    #img1 {
        width: 60vw;
    }
    #bd1 p {
        font-size: 2rem;
    }
    .txt2, #bd2, .aaft2, .f1, .f2 {
        flex-direction: column;
    }
    #bd1 .txt2 p {
        width: 100%;
    }
    #bd2 > div {width: 100%;
    }
    #txt2p h1 {
        font-size: 2.4rem;
    }
    .panim1, .panim2, .panim3 {
        height: calc(2.4rem + 5px);
    }
    .panim4, .panim5 {
        height: calc(1.4rem + 3px);
    }
    .panimp h1 {
        padding: 5px 0;
    }
    .panimp h2 {
        padding: 3px 0;
    }
    .panim1 {
        margin: 40px 0 0;
    }
    .panim4 {
        margin: 40px 0 0;
    }
    .aft {
        padding: 0;

    }
    #bd3 .aft .ttxtt, #bd3 .aaft2 .ttxtt2 {
        width: 100%;
    }
    #bd3 .aft .iimgg .img, .aaft2 .picdi #piccrop {
        height: auto;
        width: 100%;
    }
    #bd3 .aft .iimgg p, #bd3 .aaft2 .picdi p {
        width: 100%;
        margin-bottom: 50px;
    }
    #bigth1 {
        font-size: 3rem;
    }
    .f1a {
        gap: 50px;
        margin-bottom: 30px;
    }
    .f1b {
        gap: 20px;
    }
    .f1afoot {
        row-gap: 30px;
    }
    .f1afoot > div a, .f1bfoot a {
        font-size: 1.7rem;
    }
    .f2 {
        gap: 10px;
    }
}