@media (max-width: 800px) {
    body {
        padding-top: 15px;
    }
    .arrof {
        flex-direction: column;
        padding-bottom: 0;
    }
    #ff {
        width: 100%;
        margin-bottom: 30px;
        padding: 5%;
    }
    .btt {
        display: none;
    }
    #about-us {
        flex-direction: column;
    }
    .two {
        display: none;
    }
    .boddd2 {
        flex-direction: column;
    }
    .boddd2 div {
        width: 100%;
    }
}